:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: solid 3px red;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px green;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
